body {
    background-color: rgb(15, 15, 27);
    margin: 0px;
    font-family: sans-serif;
}

hr {
    margin: 0px;
    border: 1px solid rgb(255, 234, 1);
}

a {
    text-decoration: none;
}

.navigation {
    display: flex;
    justify-content: space-around;
}

.navigation {
    display: flex;
    justify-content: space-around;
    background-color: rgb(15, 15, 27);
    border-bottom: 1px solid rgb(255, 234, 1);
}

.navigation a {
    background-color: rgb(255, 234, 1);
    color: rgb(15, 15, 27);
    padding: 5px;
    margin-top: 5px;
    border-radius: 3px;
    margin-bottom: 4px;
    line-height: 15px;
}

.navigation a:hover {
    background-color: rgb(255, 245, 137);
    text-decoration: underline;
}

strong {
    font-style: italic;
}

footer img {
    width: 50px;
    border-radius: 7px;
    margin: 0px 10px;
}

footer {
    background-color: rgb(19, 19, 31);
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}

p {
    color: white;
}

h2 {
    color: rgb(234, 214, 0);
}

#img_cristian {
    margin-top: 15px;
    width: 200px;
    height: 270px;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(100, 98, 98, 0.34);
}

#skills {
    width: 400px;
    margin-left: 50px;
}

.content {
    margin-top: 50px;
    padding: 10px;
    background-color: rgba(65, 65, 65, 0.34);
    display: flex;
    justify-content: center;
}

