body {
    background-color: rgb(9, 9, 28);
    margin: 0px;
    /* width: 1300px; */
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/internet1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 400px;
    border-bottom: 2px solid rgb(255, 234, 1);
}

header h1 {
    color: rgb(255, 234, 1);
    font-size: 70px;
    font-weight: 100;
}

h1,
h2 {
    color: rgb(255, 234, 1);
}

hr {
    border: 1px solid rgb(255, 234, 1);
}

a {
    text-decoration: none;
    color: rgb(255, 234, 1);
    padding: 10px 0px 5px;
}

a:hover {
    color: rgb(169, 154, 39);
    text-decoration: underline;
}

.navigation {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: rgb(9, 9, 28);
    border-bottom: 2px solid rgb(255, 234, 1);
    padding-bottom: 5px;
}

.navigation a {
    background-color: rgb(255, 234, 1);
    color: rgb(15, 15, 27);
    padding: 5px;
    margin-top: 5px;
    border-radius: 3px;
}

.navigation a:hover {
    background-color: rgb(125, 115, 6);
    text-decoration: underline;
}

#video_history_internet {
    text-align: center;
    margin-top: 50px;
}

img {
    width: 30%;
}

#arrow {
    position: fixed;
    right: 20px;
    font-size: 30px;
    bottom: 50px;
    background-color: rgb(255, 234, 1);
    color: rgb(15, 15, 27);
    padding: 0px 3px 6px 3px;
    border-radius: 4px;
}

.links {
    display: flex;
    justify-content: space-around;
}

p,
ul,
table {
    color: white;
    font-weight:100;
}

#arpa {
    float: left;
    margin: 100px 50px 0px 50px;
}

h1 {
    padding-top: 50px;
}

.history,
.what_is,
.operation,
.www {
    height: 500px;
}

#img_internet {
    float: right;
    margin: 50px 50px 0px 50px;
}

#img_operation {
    float: left;
    margin: 50px 50px 0px 50px;
}

.addressing {
    height: 800px;
}

.addressing,
.what_is {
    background-color: rgb(19, 19, 31);
}

#img_domains {
    float: right;
    margin: 300px 50px 0px 50px;
}

#img_internet {
    float: right;
    margin: 50px 50px 0px 50px;

}

#img_www {
    float: left;
    margin: 50px 50px 0px 50px;
}

#content_history,
#content_what_is,
#content_addressing,
#content_www {
    padding: 0px 20px;
}

#content_operation {
    padding: 0px 20px;
}

footer {
    background-color: rgb(19, 19, 31);
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}