body {
    background-color: rgb(15, 15, 27);
    margin: 0px;
    /* width: 1300px; */
    font-family: sans-serif;
}

header {
    border-bottom: 2px solid rgb(255, 234, 1);
}

h1, h2 {
    color: rgb(255, 234, 1);
}

hr {
    margin: 0px;
    border: 1px solid rgb(255, 234, 1);
}

p, ol {
    color: white;
    /* font-weight:100; */
    width: 900px;
}

a {
    text-decoration: none;
    color: rgb(255, 234, 1);
    padding: 10px 0px 5px;
}

a:hover {
    color: rgb(255, 245, 137);
    text-decoration: underline;
}

img {
    width: 50%;
}

.navigation {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: rgb(15, 15, 27);
    border-bottom: 2px solid rgb(255, 234, 1);
    padding-bottom: 5px;
}

.navigation a {
    background-color: rgb(255, 234, 1);
    color: rgb(15, 15, 27);
    padding: 5px;
    margin-top: 5px;
    border-radius: 3px;
}

.content {
    padding: 30px 30px;
}

footer {
    background-color: rgb(19, 19, 31);
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}